@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
* {
  font-family: Montserrat, sans-serif;
}
body {
  margin: 10px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.7fr;
  justify-content: center;
}
/*div {*/
  /*border: 1px solid red;*/
/*}*/

.container {
  display: grid;
  grid-template-columns: 120px 1fr;
}
header {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  background-color: dimgray;
}
h1 {
  font-weight: 700;
  color: white;
}
.search {
  display: grid;
  justify-content: center;
  margin: auto 0;
  grid-template-columns: 1fr 50px;

}
input {
  height: 30px;
  padding: 0 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 0;
}
input:focus,
button:focus{
  outline: none;
}
.search button {
  height: 30px;
  border: 0;
  background-color: lightgray;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: dimgray;
  font-size: 16px;
}
.search button:hover {
  background-color: darkgrey;
}
.movie-card {
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 160px 1fr;
}
.movie-card img {
  width: 130px;
}

.sticks {
  margin-top: 100px;
}
.sticks button {
  width: 100px;
  height: 50px;
  background-color: red;
  float: right;
  border: 0;
  margin: 5px 0;
}
.sticks button:hover {
  background-color: brown;
}