@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
* {
  font-family: Montserrat, sans-serif;
}
body {
  margin: 10px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.7fr;
  justify-content: center;
}
/*div {*/
  /*border: 1px solid red;*/
/*}*/

.container {
  display: grid;
  grid-template-columns: 120px 1fr;
}
header {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  background-color: dimgray;
}
h1 {
  font-weight: 700;
  color: white;
}
h2 {
  margin: 7px 0;
  font-weight: 600;
  font-size: 20px;
  color: rgba(0,0,0,.7);
}
h3 {
  margin: 7px 0;
  color: darkgoldenrod;
  font-weight: 700;
  font-size: 19px;
}
.search {
  display: grid;
  justify-content: center;
  margin: auto 0;
  grid-template-columns: 1fr 50px;

}
input {
  height: 30px;
  padding: 0 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 0;
}
input:focus,
button:focus{
  outline: none;
}
.search button {
  height: 30px;
  border: 0;
  background-color: lightgray;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: dimgray;
  font-size: 16px;
}
.search button:hover {
  background-color: darkgrey;
}
.movie-card {
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
}
.poster {
  overflow: hidden;
  height: 300px;
}
.poster img {
  height: 300px;
  width: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.poster img:hover {
  height: 330px;
  width: 220px;
}

.sticks {
  margin-top: 100px;
}
.sticks button {
  width: 100px;
  height: 50px;
  float: right;
  background-color: transparent;
  border: 0;
  margin: 5px 0;
  opacity: .65;
  cursor: pointer;
  transition: .4s;
}
.sticks button img {
  width: 100%;
}
.sticks button:hover {
  opacity: 1;
  width: 110px;
}
.results {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));;
  grid-gap: 10px;
}